[Desktop Entry]
Exec=harbour-shadowline
Icon=harbour-shadowline
Type=Application
Name=Shadow Line
X-Nemo-Application-Type=silica-qt5

[X-Sailjail]
OrganizationName=harbour-shadowline
ApplicationName=harbour-shadowline
Permissions=Location